<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.espritmobile.lostandfounduniversity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true">

        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SplashScreen"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AddPostActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".EditPostActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DetailsActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PagerActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ChatActivity"
            android:theme="@style/NoActionBar"></activity>

    </application>

</manifest>